<h4> Application Form</h4>
<form action="/job/{{job['id']}}/apply" method="post">
  <div class="mb-2">
    <lable> Full Name</lable><br>
    <input type="text" required name="full_name" placeholder="Bruce Wayne">
  </div>

  <div class="mb-2">
    <br><lable> Email </lable><br>
    <input type="email" required name="email" placeholder="Bruce.Wayne@mail.com">
  </div>

  <div class="mb-2">
    <br><lable> LinkedinURL</lable><br>
    <input type="url" name="LinkedinURL" placeholder="www.linkedin.com/bruce">
  </div>

   <div class="mb-2">
    <br><lable> Education</lable><br>
     <textarea name="Education" ></textarea>
   </div>

   <div class="mb-2">
    <br><lable>Work Experience</lable><br>
    <textarea name="Experience" ></textarea>
   </div>

   <div class="mb-2">
    <br><lable> resumeURL</lable><br>
    <input type="url" name="resumeURL" />
   </div>

  <input type="submit" >
</form>